{# Coquille de modal réutilisable, incluse dans les pages liste (index) #}
<div class="modal fade" id="crudModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			{# rempli dynamiquement en AJAX #}
		</div>
	</div>
</div>
